* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
}

.main { margin: 0 36px; }

.header {
  padding: 22px 30px;
  box-shadow: 0 3px 7px rgba(000, 000, 000, 0.1);
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero-image {
  max-width: 400px;
  width: 100%;
  height: auto;
  margin: 26px auto 29px auto;
}

.hero-title {
  margin-bottom: 16px;
  font-size: 2.25rem;
  font-weight: 600;
}

.hero-text {
  margin-bottom: 50px;
  font-size: 1rem;
  font-weight: 300;
}

.cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 18px;
  margin-right: -36px;
  overflow: auto;
}

.card { 
  width: 176px;
}

.card-image-container { 
  position: relative; 
}

.card-image {
  width: 176px;
  height: 235px;
  object-fit: cover;
  border-radius: 10px;
}

.badge {
  position: absolute;
  top: 6px;
  left: 6px;
  padding: 4px 6px;
  background-color: #FFF;
  font-size: 10.24px;
  border-radius: 2px;
}

.rating {
  font-size: 0.75rem;
}

.card-rating-icon {
  margin-right: 2px;
  font-size: 14px;
}

.card-rating-icon, 
.card-review-count,
.card-country {
  font-weight: 300;
  margin-right: 2px;
}
.card-rating {
  margin-right: 2px;
}

.card-review-count,
.card-country { color: #918E9B; }


.card-title,
.price-from, 
.price-per-unit { font-size: 0.75rem; }

.card-title h4 { font-weight: 300; }

.price-from { font-weight: 600; }

.price-per-unit { font-weight: 300; }
