* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Sans-Serif";
}

.header {
  padding: 22px 30px;
  box-shadow: 0 3px 7px rgba(000, 000, 000, 0.1);
}

.hero {
  display: flex;
  flex-direction: column;
  margin: 0 36px;
}

.hero-image {
  max-width: 550px;
}